[Unit]
Description=Check Proxmox PBS Dashboard updates every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30
Persistent=true
Unit=proxmox-pbs-dashboard-update.service

[Install]
WantedBy=timers.target
